@using timeline.Model



<a data-bs-toggle="modal" data-bs-target="@("#exampleModal" + Id)">
  <div class="timeline__group">
    
    <span class="timeline__year time" aria-hidden="true">@Record.Year</span>
    <div class="timeline__cards">
      <div class="timeline__card card">
        <header class="card__header">
          <time class="time" datetime="2008-07-14">
            <span class="time__day">@Record.Day</span>
            <span class="time__month">@Record.Month</span>
          </time>
        </header>
        <div class="card__content">
          <p>@Record.Title</p>
        </div>
      </div>
    </div>
  </div>
</a>

<!-- Modal -->
<div class="modal fade" id="@("exampleModal" + Id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="@("exampleModalLabel" + Id)">@Record.Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-image">
        @* OnError will remove the image component if it's not found *@
        <img src= "@Record.Image" onerror="this.remove()" style="max-height: 100px; max-width: 100px"/>
      </div>
      
      <div class="modal-body">
        @Record.Content
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter, EditorRequired]
  public TimelineGroup Record { get; set; }
  
  private string Id { get; set; } = Guid.NewGuid().ToString();




}
